{% extends 'base.html' %} {%block content%}

<div class="md:px-16 md:pt-10 px-3 pt-10">
  <!-- Header Area -->

  <div class="w-full rounded-2xl border border-slate-400 md:h-56 h-24 flex">
    {%load static%}
    <img
      src="{% static 'img/logo.png' %}"
      class="overflow-hidden opacity-75"
      height="100% "
      alt="Antarestar"
    />
    <div class="flex items-center align-middle px-3">
      <div class="bg-blue-600 p-5 rounded-md">

        <h3
          class="md:text-5xl text-2xl font-bold text-slate-300 align-middle text-left"
        >
          Paket of the day :  {{ total }}
        </h3>
       
      </div>
    </div>
    <div class="flex items-center align-middle px-3">
      <div class="bg-blue-600 p-5 rounded-md">

        <h3
          class="md:text-5xl text-2xl font-bold text-slate-300 align-middle text-left"
        >
       Total Double Paket Today: 8
        </h3>
       </div>
      </div>
      <div
        class="border-l-2 border-slate-400 h-full md:flex align-middle items-center hidden"
      >
        <h2 class="text-center font-semibold md:text-5xl px-3 text-slate-300">
          Time Now
        </h2>
        <h3
          id="time"
          class="text-center font-semibold md:text-5xl px-3 text-slate-300"
        ></h3>
      </div>
    </div>
    
 

  <!-- ./ EndHeader Area -->

  <form action="" method="post">
    {% csrf_token %}
    <div class="mt-5">
      <label for="hs-trailing-button-add-on" class="sr-only">Label</label>
      <div class="flex rounded-md shadow-sm">
        <input
          type="text"
          id="hs-trailing-button-add-on"
          name="barcode"
          class="py-3 px-4 block w-full border-gray-200 shadow-sm rounded-l-md text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400"
          required
        />
        <button
          type="submit"
          class="py-3 px-4 inline-flex flex-shrink-0 justify-center items-center gap-2 rounded-r-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:z-10 focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all text-sm"
        >
          Enter
        </button>
      </div>
    </div>

    <!-- <div
      class="flex flex-wrap justify-between justify-items-center gap-1 w-full pt-10 items-center"
    >
      {% for scan in scanner %}
  
        <div class="w-full mx-10 md:mx-0">
          <input
            type="radio"
            name="scanner_id"
            id="{{ scan.name }}"
            value="{{ scan.name }}"
            class="mt-2 justify-between radio"
          />
          <label for="{{ scan.name }}">{{ scan.name }}</label>
        </div>
      </div>
      {% endfor %}
    </div> -->

    <div
      class="flex flex-wrap justify-between justify-items-center gap-1 w-full pt-10 items-center"
    >
      <div class="w-full mx-10 md:mx-0  md:w-1/5">
        <input
          type="radio"
          name="scanner"
          id="angle"
          value="angle"
          class="mt-2 justify-between radio "
          required
        />
        <label for="angel">
          <div
            class="border border-slate-400 md:h-60 h-40 rounded-xl flex text-center items-center justify-center peer-checked/draft:border-none peer-checked/draft:bg-slate-300 text-slate-300 peer-checked/draft:text-slate-700"
          >
            <div
              class="md: text-4xl font-bold justify-items-center items-center text-center"
            >
              {{ angle }}
            </div>
          </div>
          <h3
            class="text-center font-semibold text-2xl text-slate-400 my-3 uppercase"
          >
            angle
          </h3>
        </label>
      
    </div>

      <div class="w-full mx-10 md:mx-0 md:w-1/5">
        <input
          type="radio"
          name="scanner"
          required
          id="latif"
          value="latif"
          class="mt-2 justify-between radio"
        />
        <label for="latif">
          <div
            class="border border-slate-400 md:h-60 h-40 rounded-xl flex text-center items-center justify-center peer-checked/draft:border-none peer-checked/draft:bg-slate-300 text-slate-300 peer-checked/draft:text-slate-700"
          >
            <div
              class="md: text-4xl font-bold justify-items-center items-center text-center"
            >
              {{ latif }}
            </div>
          </div>
          <h3
            class="text-center font-semibold text-2xl text-slate-400 my-3 uppercase"
          >
            latif
          </h3>
        </label>

    </div>

      <div class="w-full mx-10 md:mx-0 md:w-1/5">
        <input
          type="radio"
          name="scanner"
          id="fazza"
          required
          value="fazza"
          class="mt-2 justify-between radio"
        />
        <label for="fazza">
          <div
            class="border border-slate-400 md:h-60 h-40 rounded-xl flex text-center items-center justify-center peer-checked/draft:border-none peer-checked/draft:bg-slate-300 text-slate-300 peer-checked/draft:text-slate-700"
          >
            <div
              class="md: text-4xl font-bold justify-items-center items-center text-center"
            >
              {{ fazza }}
            </div>
          </div>
          <h3
            class="text-center font-semibold text-2xl text-slate-400 my-3 uppercase"
          >
            fazza
          </h3>
        </label>
  
    </div>

      <div class="w-full mx-10 md:mx-0 md:w-1/5">
        <input
          type="radio"
          name="scanner"
          id="antarestar"
          required
          value="antarestar"
          class="mt-2 justify-between radio"
        />
        <label for="antarestar">
          <div
            class="border border-slate-400 md:h-60 h-40 rounded-xl flex text-center items-center justify-center peer-checked/draft:border-none peer-checked/draft:bg-slate-300 text-slate-300 peer-checked/draft:text-slate-700"
          >
            <div
              class="md: text-4xl font-bold justify-items-center items-center text-center"
            >
              {{ antare }}
            </div>
          </div>
          <h3
            class="text-center font-semibold text-2xl text-slate-400 my-3 uppercase"
          >
            antarestar
          </h3>
        </label>
      
    </div>
  </div>
  </form>

  <!-- <form action="" method="post">
    {% csrf_token %}
    <div class="mt-5">
      <label for="hs-trailing-button-add-on" class="sr-only">Label</label>
      <div class="flex rounded-md shadow-sm">
        {{ form.barcode }}
        <button
          type="submit"
          class="py-3 px-4 inline-flex flex-shrink-0 justify-center items-center gap-2 rounded-r-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:z-10 focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all text-sm"
        >
          Enter
        </button>
      </div>
    </div>

      <div class="w-full mx-10 md:mx-0 md:w-1/5">{{ form.scanner_id }}</div>
    </div>

    <button type="submit" class="btn btn-succes">submit</button>
  </form> -->

  <!-- <form method="post" action="">
    {% csrf_token %}
    <div
      class="flex flex-wrap justify-between justify-items-center gap-1 w-full pt-10 items-center"
    >
      {% for scan in scanner %}
      <div class="md:w-1/5 w-full mx-10 md:mx-0">
        <input
          type="radio"
          name="scanner_id"
          id="scanner_1"
          class="peer/draft radio"
        />
        <div
          class="border border-slate-400 md:h-60 h-40 rounded-xl flex text-center items-center justify-center peer-checked/draft:border-none peer-checked/draft:bg-slate-300 text-slate-300 peer-checked/draft:text-slate-700"
        >
          <div
            class="md: text-4xl font-bold justify-items-center items-center text-center"
          >
            69
          </div>
        </div>
        <h3
          class="text-center font-semibold text-2xl text-slate-400 my-3 uppercase"
        >
          {{ scan.name }}
        </h3>
      </div>
      {% endfor %}
    </div>

    <div class="mt-5">
      <label for="hs-trailing-button-add-on" class="sr-only">Label</label>
      <div class="flex rounded-md shadow-sm">
        <input
          type="text"
          id="hs-trailing-button-add-on"
          name="barcode"
          class="py-3 px-4 block w-full border-gray-200 shadow-sm rounded-l-md text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400"
          value=""
          required
        />
        <button
          type="submit"
          class="py-3 px-4 inline-flex flex-shrink-0 justify-center items-center gap-2 rounded-r-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:z-10 focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all text-sm"
        >
          Enter
        </button>
      </div>
    </div>
  </form> -->
  <!-- ./end Scanner Area -->

  <!-- <button class="btn btn-primary" onclick="eabutton()">click me</button> -->
</div>
</div>
{%endblock%}
