{% extends 'base.html' %} {%block content%}

<div class="md:px-16 md:pt-10 px-3 pt-10">
  <div class="w-full rounded-2xl border border-slate-400 md:h-56 h-24 flex">
    {%load static%}
    <img
      src="{% static 'img/logo.png' %}"
      class="overflow-hidden opacity-75"
      height="100% "
      alt=""
    />
    <div class="flex items-center align-middle px-3">
      <h3
        class="md:text-5xl text-2xl font-bold text-slate-300 align-middle text-left"
      >
        Paket of the day :
      </h3>
      <span
        class="md:text-5xl font-bold text-slate-300 text-left text-2xl align-middle"
      >
        800
      </span>
    </div>
    <div
      class="border-l-2 border-slate-400 h-full md:flex align-middle items-center hidden"
    >
      <h2 class="text-center font-semibold md:text-5xl px-3 text-slate-300">
        Time Now
      </h2>
      <h3
        id="time"
        class="text-center font-semibold md:text-5xl px-3 text-slate-300"
      ></h3>
    </div>
  </div>

  <input
    class="bg-gray-900 focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal mt-10"
    type="text"
    placeholder="Enter your name"
  />

  <div
    class="flex flex-wrap justify-between justify-items-center gap-1 w-full pt-10 items-center"
  >
    <div class="md:w-1/5 w-full mx-10 md:mx-0">
      <input type="radio" name="pram" id="" class="peer/draft radio" />
      <div
        class="border border-slate-400 md:h-60 h-40 rounded-xl flex text-center items-center justify-center peer-checked/draft:border-none peer-checked/draft:bg-slate-300 text-slate-300 peer-checked/draft:text-slate-700"
      >
        <div
          class="md:text-6xl text-4xl font-bold justify-items-center items-center text-center"
        >
          <span class="text-center">76</span>
        </div>
      </div>
      <h3
        class="text-center font-semibold text-2xl text-slate-400 my-3 uppercase"
      >
        people 1
      </h3>
    </div>
    <div class="md:w-1/5 w-full mx-10 md:mx-0">
      <input type="radio" name="pram" id="" class="peer/draft radio" />
      <div
        class="border border-slate-400 md:h-60 h-40 rounded-xl flex text-center items-center justify-center peer-checked/draft:border-none peer-checked/draft:bg-slate-300 text-slate-300 peer-checked/draft:text-slate-700"
      >
        <div
          class="md:text-6xl text-4xl font-bold justify-items-center items-center text-center"
        >
          <span class="text-center">76</span>
        </div>
      </div>
      <h3
        class="text-center font-semibold text-2xl text-slate-400 my-3 uppercase"
      >
        people 1
      </h3>
    </div>
    <div class="md:w-1/5 w-full mx-10 md:mx-0">
      <input type="radio" name="pram" id="" class="peer/draft radio" />
      <div
        class="border border-slate-400 md:h-60 h-40 rounded-xl flex text-center items-center justify-center peer-checked/draft:border-none peer-checked/draft:bg-slate-300 text-slate-300 peer-checked/draft:text-slate-700"
      >
        <div
          class="md:text-6xl text-4xl font-bold justify-items-center items-center text-center"
        >
          <span class="text-center">76</span>
        </div>
      </div>
      <h3
        class="text-center font-semibold text-2xl text-slate-400 my-3 uppercase"
      >
        people 1
      </h3>
    </div>
    <div class="md:w-1/5 w-full mx-10 md:mx-0">
      <input type="radio" name="pram" id="" class="peer/draft radio" />
      <div
        class="border border-slate-400 md:h-60 h-40 rounded-xl flex text-center items-center justify-center peer-checked/draft:border-none peer-checked/draft:bg-slate-300 text-slate-300 peer-checked/draft:text-slate-700"
      >
        <div
          class="md:text-6xl text-4xl font-bold justify-items-center items-center text-center"
        >
          <span class="text-center">76</span>
        </div>
      </div>
      <h3
        class="text-center font-semibold text-2xl text-slate-400 my-3 uppercase"
      >
        people 1
      </h3>
    </div>
  </div>
</div>
<!-- <button class="btn btn-primary" onclick="eabutton()">click me</button> -->

{%endblock%}
