{% extends 'base.html' %} {%block content%}

<!-- Startbody -->

<div class="md:px-16 md:pt-10 px-3 pt-10">
  <!-- Header Area -->

  <div class="w-full rounded-2xl bg-neutral md:h-56 h-24 flex">
    {%load static%}
    <img
      src="{% static 'img/logo.png' %}"
      class="overflow-hidden"
      height="100% "
      alt="Antarestar"
    />

    <div class="flex items-center align-middle px-3">
      <div class="border border-info p-5 px-10 rounded-md hover:bg-info">
        <h3
          class="md:text-5xl text-2xl font-bold text-slate-100 align-middle text-left"
        >
          {{ total }}
        </h3>
      </div>
    </div>
    <div class="flex items-center align-middle px-3">
      <div
        class="border border-error hover:bg-error p-5 px-10 rounded-md text-white"
      >
        <h3 class="md:text-5xl text-2xl font-bold align-middle text-left">
          {{ double }}
        </h3>
      </div>
    </div>
    <div
      class="border-slate-100 h-full md:flex align-middle items-center hidden"
    >
      <h2 class="text-center font-semibold md:text-5xl px-3 text-slate-100">
        Time Now
      </h2>
      <h3
        id="time"
        class="text-center font-semibold md:text-5xl px-3 text-slate-100"
      ></h3>
    </div>
  </div>

  <!-- ./ EndHeader Area -->

  <!-- Alert Area -->

  {% for message in messages %} {% if message.tags == 'warning' %}

  <div class="alert alert-error shadow-lg mt-5">
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="stroke-current flex-shrink-0 h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
      <span> {{ message }}</span>
    </div>
  </div>
  {% endif %} {% endfor %}

  <!-- ./ EndAlert Area -->

  <!-- Form Area -->

  <form action="" method="post">
    {% csrf_token %}

    <!-- Input Barcode Area -->

    <div class="mt-5">
      <label for="hs-trailing-button-add-on" class="sr-only">Label</label>
      <div class="flex rounded-md shadow-sm">
        <input
          type="text"
          id="hs-trailing-button-add-on"
          name="barcode"
          class="py-3 px-4 block w-full border-gray-200 shadow-sm rounded-l-md text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 bg-neutral dark:border-gray-700 dark:text-gray-400"
          required
        />
        <button
          type="submit"
          class="py-3 px-4 inline-flex flex-shrink-0 justify-center items-center gap-2 rounded-r-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:z-10 focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all text-sm"
        >
          Enter
        </button>
      </div>
    </div>

    <!-- ./EndInput Barcode Area -->

    <!-- Coming soon -->

    <!-- <div
      class="flex flex-wrap justify-between justify-items-center gap-1 w-full pt-10 items-center"
    >
      {% for scan in scanner %}
      <div class="flex flex-wrap justify-between">
        <div class="w-full mx-10 md:mx-0">
          <input
            type="radio"
            name="scanner_id"
            id="{{ scan.name }}"
            value="{{ scan.name }}"
            class="mt-2 justify-between radio"
          />
          <label for="{{ scan.name }}">{{ scan.name }}</label>
        </div>
      </div>
      {% endfor %}
    </div> -->

    <!-- ./Coming soon -->

    <!-- Radio Scanner Area -->

    <div
      class="flex flex-wrap justify-between justify-items-center gap-1 w-full pt-10 items-center"
    >
      <div class="w-full mx-10 md:mx-0 md:w-1/5">
        <input
          type="radio"
          name="scanner"
          id="angle"
          value="angle"
          class="mt-2 justify-between radio peer/angle hidden"
          required
        />

        <label
          for="angle"
          class="border border-slate-100 md:h-60 h-40 rounded-xl flex text-center items-center justify-center peer-checked/angle:border-none peer-checked/angle:bg-slate-800 text-slate-100 peer-checked/angle:text-neutral-focus"
        >
          <div
            class="md:text-6xl font-bold justify-items-center items-center text-center"
          >
            {{ angle }}
          </div>
        </label>
        <h3
          class="text-center font-semibold text-2xl text-slate-100 my-3 uppercase"
        >
          angle
        </h3>
      </div>

      <div class="w-full mx-10 md:mx-0 md:w-1/5">
        <input
          type="radio"
          name="scanner"
          required
          id="latif"
          value="latif"
          class="mt-2 justify-between radio peer/latif hidden"
        />

        <label
          for="latif"
          class="border border-slate-100 md:h-60 h-40 rounded-xl flex text-center items-center justify-center peer-checked/latif:border-none peer-checked/latif:bg-slate-800 text-slate-100 peer-checked/latif:text-neutral-focus"
        >
          <div
            class="md:text-6xl font-bold justify-items-center items-center text-center"
          >
            {{ latif }}
          </div>
        </label>
        <h3
          class="text-center font-semibold text-2xl text-slate-100 my-3 uppercase"
        >
          latif
        </h3>
      </div>

      <div class="w-full mx-10 md:mx-0 md:w-1/5">
        <input
          type="radio"
          name="scanner"
          id="fazza"
          required
          value="fazza"
          class="peer/fazza mt-2 justify-between radio hidden"
        />

        <label
          for="fazza"
          class="border border-slate-100 md:h-60 h-40 rounded-xl flex text-center items-center justify-center peer-checked/fazza:border-none peer-checked/fazza:bg-slate-800 text-slate-100 peer-checked/fazza:text-neutral-focus"
        >
          <div
            class="md:text-6xl font-bold justify-items-center items-center text-center"
          >
            {{ fazza }}
          </div>
        </label>
        <h3
          class="text-center font-semibold text-2xl text-slate-100 my-3 uppercase"
        >
          fazza
        </h3>
      </div>
      <div class="w-full mx-10 md:mx-0 md:w-1/5">
        <input
          type="radio"
          name="scanner"
          id="antarestar"
          required
          value="antarestar"
          class="peer/antarestar mt-2 justify-between radio hidden"
        />

        <label
          for="antarestar"
          class="border border-slate-100 md:h-60 h-40 rounded-xl flex text-center items-center justify-center peer-checked/antarestar:border-none peer-checked/antarestar:bg-slate-800 text-slate-100 peer-checked/antarestar:text-neutral-focus"
        >
          <div
            class="md:text-6xl font-bold justify-items-center items-center text-center"
          >
            {{ antare }}
          </div>
        </label>
        <h3
          class="text-center font-semibold text-2xl text-neutral-content my-3 uppercase"
        >
          antarestar
        </h3>
      </div>
    </div>

    <!-- ./EndRadio Scanner Area -->
  </form>

  <!-- ./EndForm Area -->

  <!-- <button class="btn btn-primary" onclick="eabutton()">click me</button> -->
</div>

<!-- ./EndBody -->
{%endblock%}
